<template>
    <f7-page login-screen>
      <f7-view main class="safe-areas" url="/">
        <f7-list>
          <f7-list-input
            type="number"
            placeholder="Introduce tu numero de telefono"
          />
        </f7-list>
        <f7-list>
          <f7-button fill>Recibir SMS</f7-button>
        </f7-list>
      </f7-view>
    </f7-page>
</template>

<script>
import F7ListInput from "framework7-vue/components/list-input";
import F7ListButton from "framework7-vue/components/list-button";

export default {
  name: "envio-sms",
  components: {
      F7ListInput,
      F7ListButton
  }
};
</script>