<template>
  <f7-page name="home">
    <!-- Top Navbar -->
    <f7-navbar large>
      <f7-nav-title>Tuenti</f7-nav-title>
      <f7-nav-title-large>Tuenti</f7-nav-title-large>
    </f7-navbar>
    <!-- Page content-->
    <envio-sms/>
  </f7-page>
</template>

<script>
import EnvioSms from "../components/EnvioSms/EnvioSms";
export default {
  components: { EnvioSms }
}
</script>